body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-flow: wrap row;
    font-size: 24px;
    color: #f9faf8;
}
.box1 {
    background-color: #1F2937;
}

.box2 {
    display: flex; 
}

.box3 {
    display: flex; 
}

.box4 {
    

}

.heromain {
    font-size: 24px;
    color: #f9faf8;
}

.banner {
    display: flex;
    background-color: #3882f6;
}